@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Heebo:wght@100;200;300;500;600;700;800&family=Poppins:wght@400;500&family=Rubik+Iso&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #191919;
    padding: 20px 0;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
.container{
    width: 90%;
    margin: auto;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 20%;
   
}
.logo a{
    display: block;
}
.logo a img{}
.menu{
    width: 70%;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.menu ul li a{ 
    color: white;
    text-decoration: none;
    padding: 0 20px;
    text-transform: capitalize;
}
 
.mobile-icon{
    display: none;
}








.banner-section{
    background: #FFC400;
    padding: 100px 0;
}

.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}
.banner-left{
    width: 60%;
}
.banner-left h2{
    color: #fff;
    font-size: 60px;
    line-height: 1.2em;
}
.banner-left p{
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}
.banner-left a.btn-1{
    background: black;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 8px;
    text-transform: capitalize;
    font-size: 18px;
    margin-right: 10px;
}
.banner-left a.btn-2{
    border: 2px solid #fff;   
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 8px;
    text-transform: capitalize;
    font-size: 18px;
    margin-left: 10px;

}
.banner-right {
    width: 30%; 
}
.banner-right img{}




























/*
body{
    padding: 20px;
}
.cool-1{
    background-color: #000;
    width: 1000px;
    margin: auto;
    margin-top: 7px;
    
}
.cool-1 > ul{
    display: flex;
    justify-content: space-around;
    
    
}
.cool-1 ul li a{
    list-style: none;
    text-decoration: none;
    margin: 35px auto;
    display: block;
    text-transform: uppercase;
    color: #ced6e0;
    
}

.cool-1 img{
 max-width: 70%;
 display: block;
 margin-right:  25px;
 margin-top: 25px;
 margin: 20px auto;
   
}

.cool-1 ul li:hover> a{
    display: block;
}

.cool-1 ul li a:hover{
   background-color: #ffffff; 
}
.cool-2{
    background-color: #fbc531;
    width: 1000px;
    height: 400px;
    margin: auto;
    
}

.cool-2 h2{
    padding-top: 0;
    padding-left: 50px;
    color: white;
    width: 500px;
    font-size: 40px;
    transform: translateY(50%)
    
}
.cool-2 p{
    padding-top: 30px;
    color: white;
    margin: 35px 40px 50px 55px;
    width: 500px;
    display: block;
}
.cool-2 img{
    max-width: 250px;
   transform: translate(260%,-105%);
   transform: translatex(-100%)
}


.cont button[type=button]{
    text-decoration: none;
    color: white;
    background: black;
    border-radius: 5px;
    padding: 20px 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    transform: translateY( -48%)
    
}
.ser button[type=button]{
    text-decoration: none;
    color: white;
    background: #fbc531;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px 30px;
    margin-left: 200px;
    margin-top: 0px;
    transform: translatey(-155%)
}

.cool-3{
    background-color: #c8d6e5;
    width: 1000px;
    height: 400px;
    margin: auto;
}


.cool-3 h3{
    padding-top: 0;
    padding-left: 50px;
    color: black;
    width: 500px;
    font-size: 45px;
    transform: translateY(50%); 
}
.cool-3 p{
    padding-top: 30px;
    color: black;
    margin: 35px 40px 50px 55px;
    width: 500px;
    display: block; 
}
.cool-3 button[type=button]{
    text-decoration: none;
    color: white;
    background: #fbc531;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px 30px;
    margin-left: 200px;
    margin-top: 0px;
    transform: translate(-115%,-380%)
}
.cool-3 img{
    max-width: 250px;
   transform: translate(130%,-90%);
   transform: translatex(-100%)
}
  .box{
    background-color: yellow;
    width: 200px;
    height: 200px;
    transform: translate(300%,-100%,)
    margin-top: 20px;    
}
*/

